@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--primary-bright);
  background: var(--background);
}

.todo-card {
  background: var(--primary-dark);
  border-color: var(--primary-dim);
}

.todo-card .checkbox {
  border-color: var(--primary-dim);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
