@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--primary-text-color);
  background: var(--background);
}

.background {
  background-color: var(--background);
}

.text {
  color: var(--primary-text-color);
}

.button {
  background-color: var(--secondary-color);
  color: var(--primary-text-color)
}

.text-box {
  background-color: var(--primary-color);
  border: var(--border-color) solid 2px;
  color: var(--primary-text-color);
  padding: 0.5rem;
}

.checkbox {
  background-color: var(--primary-color);
  border-color: var(--border-color);
  cursor: pointer;
}

.todo-card {
  background: var(--primary-color);
  border-color: var(--border-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
