.toggle {
	cursor: pointer;
	position: fixed;
	top: 5px;
	right: 5px;
	aspect-ratio: 1/1;
	height: 2rem;
	width: auto;
	margin: 0;
	background-color: transparent;
	border: solid var(--border-color) 1px;
	border-radius: 50%;
	padding: 2px;
}

.toggle svg {
	display: block;
	position: relative;
	fill: var(--primary-text-color);
}