:root[data-theme="dark"] {
	--primary-color:        #000836;
	--primary-text-color:   #ffffff;
	--secondary-color:      #0059ff;
	--tertiary-color:       #4800ff;
	--border-color:         #666666;
	--backround:            #060708;
	
	color-scheme: dark;
}

:root[data-theme="light"] {
	--primary-color:        #ffd992;
	--primary-text-color:   #000000;
	--secondary-color:      #3de47d;
	--tertiary-color:       #b162f1;
	--border-color:         #585858;
	--background:           #ededed;
}