:root[data-theme="dark"] {
	--primary-bright:       #ffffff;
	--primary:              #d9d9d9;
	--primary-dim:          #666666;
	--primary-dark:         #202020;
	--secondary:            #0059ff;
	--secondary-bright:     #4800ff;
	--backround:            #060708;
	
	color-scheme: dark;
}

:root[data-theme="light"] {
	--primary-bright:       #000000;
	--primary:              #060708;
	--primary-dim:          #121315;
	--primary-dark:         #efefef;
	--secondary:            #3dff87;
	--secondary-bright:     #ffea5f;
	--background:           #ededed;
}